@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Herr+Von+Muellerhoff&display=swap');

body {
    font-family: "Black Han Sans", sans-serif;
    background-image: linear-gradient(black, black), url('../img/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: saturation;
}

.xbi-title {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1.25rem;

    animation-name: letter-spacing;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(.26,.53,.74,1.48);
    animation-fill-mode: backwards;
}

.xbi-bandung-title {
    font-family: "Herr Von Muellerhoff", cursive;
    font-weight: 400;
    font-style: normal;
}

.photo {
    animation-name: animate-slide;
    animation-duration: 0.75s;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(.26,.53,.74,1.48);
    animation-fill-mode: backwards;
}

.photo-front {
    animation-name: animate-slide;
    animation-duration: 0.75s;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(.26,.53,.74,1.48);
    animation-fill-mode: backwards;
}

@keyframes animate-slide {
    0% {
        opacity: 0;
        transform: translate(0,20px);
    }
    100% {
        opacity: 1;
        transform: translate(0,0);
    }
}

@keyframes letter-spacing {
    0% {
        letter-spacing: 0em;
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        letter-spacing: 2rem;
    }
    75% {
        letter-spacing: 2rem;
    }
    100% {
        letter-spacing: 1.25rem;
    }
}